
p{
  font-size: 1.29rem !important;
  color: #7D7D7D ;
  line-height: 1.5;
}
.text-sm{
  font-size: 0.98rem !important;
}

.comforta, h2, h1{
  font-family: "Comfortaa" !important;
}



.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #1E1E1E !Important;
}
.home-banner{
    background: #060606;
}

.uk-navbar-container{
  padding: 1rem 0 !important;
}

.uk-container {
  max-width: 1400px !important;

}

 h1{
  font-size: 5.3rem !important;
}

h2{
  font-size: 2.36rem !important;
  color: #000 !important;

}

.banner-title{
  margin: auto  !important;
}

.nav-logo{
  font-size: 2.4rem !important;
  font-weight: 900;
}

.main-content-container{
  padding-top: 4rem !important;

}



/* sldider */



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.box .index{
  margin-right: 12px;
}

.uk-button-default{
  background-color: #474747 !important;
  color: #fff !important;
  text-transform: none !important;
  border: none !important;
  border-radius: 8px !important;


  padding: 0px 23px !important;
  font-weight: 100 !important;
  
  font-size: 1.1rem !important;
  line-height: 42px !important;




}


@media(max-width:480px){

}

.my-works .card-container{
  padding: 2rem;
}

.work-card h2{
color: #fff !important;
}
.work-card{
  background-color: #ffffff17;
  padding: 1rem;
  color: #fff !important;
  border-radius: 6px;
  width: 428px;
  border: 1px solid  #9191918c;
}

@media(min-width:980px){
  .home-banner{
    height: 89vh;
  }

}
.service .bg-img{
  height: 52vh;
  width: 100%;
}

.service .main-content-container{
    position: relative;
    z-index: 99;
} 


.service .box{
  background-color: #fff !important;
  padding: 2rem;
  border-radius: 6px;
}

.uk-margin-auto{
  margin: auto !important;
}


.footer{
   background-color: #060606;
   border-radius: 8px;
}

.footer .uk-inline{
  padding-left: 6rem;
}


.concept-design-development .concept,
.concept-design-development .design,
.concept-design-development .developement {
   padding: 2rem;
   border-radius: 10px;
}



.text-dark{
  color: #000 !important;
}

.text-light{
  color: #fff !important;
}

.concept-design-development .concept{
  background-color: #060606;
}

.concept-design-development .content{
  margin-left: 1rem;
}


















/* button hover */

.scroll-up {
  height: 40px;
  width: 40px;
  display: block;
  outline: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
}
.scroll-up svg line {
  stroke-width: 1;
  stroke: #aaa;
  fill: none;
  stroke-dasharray: 20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.scroll-up:hover svg line.top {
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}
.scroll-up:hover svg line.bottom {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
}
.scroll-up:hover svg line.left {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
.scroll-up:hover svg line.right {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
}

.scroll-up .left-bar {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 5px;
  width: 18px;
  display: block;
  transform: rotate(-45deg);
}
.scroll-up .left-bar:after {
  content: "";
  background-color: #666;
  width: 18px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: right center;
  z-index: -1;
}
.scroll-up .right-bar {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 18px;
  display: block;
  transform: rotate(45deg);
  border-radius: 2px;
}
.scroll-up .right-bar:after {
  content: "";
  background-color: #666;
  width: 18px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: left center;
  z-index: -1;
}
.scroll-up:hover {
  transition: all 0.1s;
}
.scroll-up:hover .left-bar:after {
  transform: rotate(-10deg);
}
.scroll-up:hover .right-bar:after {
  transform: rotate(10deg);
}

.arrow-up {
  transform: rotate(45deg);
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 50%;
  border: 1px solid #666;
  position: relative;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}

.arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #666;
  position: absolute;
  display: block;
  z-index: 0;
}

.left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 5px;
  width: 20px;
  display: block;
  transform: rotate(308deg);
}
.left-arm:after {
  content: "";
  background-color: #666;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: right center;
  z-index: -1;
}

.right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 20px;
  display: block;
  transform: rotate(45deg);
  border-radius: 2px;
}
.right-arm:after {
  content: "";
  background-color: #666;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transform-origin: left center;
  z-index: -1;
}

.arrow-up:hover {
  transition: all 0.1s;
}
.arrow-up:hover .left-arm:after {
  transform: rotate(-10deg);
}
.arrow-up:hover .right-arm:after {
  transform: rotate(10deg);
}
.arrow-up:hover .arrow-slide {
  transition: all 0.4s ease-in-out;
  transform: translateY(200%);
}
 
 














  

.arrow {
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -30px;
  border-radius: 50%;
  display: inline-block;
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 60px;
  border: 1px solid #ffffff;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 0.25s ease-in-out, color 0.25s ease-in-out;
}
.btn-container:hover .arrow,
.btn-container.auto .arrow {
  color: rgba(179, 195, 58, 0);
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 1s 0.25s ease-in-out, color 0.25s ease-in-out 0.25s;
}

.btn-container:hover .arrow:before,
.btn-container.auto .arrow:before {
  animation: lineUp 1s cubic-bezier(0, 0.4, 1, 0.4) infinite 0.5s;
}

.btn-container:hover .arrow:after,
.btn-container.auto .arrow:after {
  animation: tipUp 1s cubic-bezier(0, 0.5, 1, 0.4) infinite 0.5s;
}

 
.arrow:before {
  position: absolute;
  display: inline-block;
  content: "";
  background: #ffffff;
  width: 1px;
  height: 22px;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -2px;
  transform: translateY(4px);
}
.arrow:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 13px;
  height: 13px;
  color: #ffffff;
  border-top: 1px solid;
  border-left: 1px solid;
  transform: rotateZ(45deg);
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -9px;
  transform: translateY(-1px) rotateZ(45deg);
}

.arrow-bar{
  position: absolute;
  display: inline-block;
  content: "hi";
  width: 30px;
  height: 30px;
}
 

@keyframes tipUp {
  0% {
    transform: translateY(50px) rotateZ(45deg);
  }
  100% {
    transform: translateY(-70px) rotateZ(45deg);
  }
}
@keyframes lineUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-70px);
  }
}

a{
  text-decoration: none !important;
}


.resume_download_btn .arrow{
  background:  #000 !important;
}
/* .resume_download_btn .arrow:before{
  background:  #000 !important;
}
.resume_download_btn .arrow:after{
 color:  #000 !important;
}
.resume_download_btn .hover-txt{
  color: #000 !important;
}

.resume_download_btn .arrow{
  color: #000 !important;
  border-color: #000 !important;
} */

.resume_download_btn .hover-txt{
  margin-left: 0px !important;
  left: 50%;
  font-weight: 400;
  color: #000 !important;
}


.hover-txt{
 text-decoration: none !important;
    font-size: 1.1rem;
    color: #fff;
    margin-left: -40px;
    position: relative;
    top: -10px;
}

.btn-container{
  top: 16px;
}





















.fin{
  background-color: #1E1E1E;
  padding:  1rem 0;
}
